<html>
   <head>
      <link href="css/style.css" rel="stylesheet">
   </head>
   <body>
    
      <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
      <df-messenger
         intent="WELCOME"
         chat-title="processminingbot"
         agent-id="1ab57df6-2bc9-4f92-861b-cf626be078ea"
         language-code="en"
      ></df-messenger>

      <img id='image' style="width: 90%; margin: auto;" src="{{ url_for('static', filename='images/company.png') }}" alt="The Coding Interface">

   </body>
</html>